html, body {
    background-color: #d2d6de;
    height: 100%;
}

html {
    display: table;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.login-box, .register-box {
    width: 360px;
    margin: 0 auto;
}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    border-radius: 5px;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 20px;
}