<img src="{{ asset('/bundles/mfo/tmp/favicon/') }}{{ favicon_image }}" alt="Фавиконка">
<div class="block-btn"><button type="button" class="btn btn-danger" id="change-favicon">Заменить иконку</button></div>