<img src="{{ asset('/bundles/mfo/tmp/logo/') }}{{ logo_image }}?{{ date().timestamp}}" alt="Логотип">
<div class="block-btn"><button type="button" class="btn btn-danger" id="change-logo">Заменить логотип</button></div>