<div class="modal modal-ajax fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialogLabel" aria-hidden="true">
    <div class="modal-dialog{{ size_modal }}">
        <div class="modal-content">{{ content|raw }}</div>
    </div>
</div>