{% extends 'SonataAdminBundle:Core:user_block.html.twig' %}
{% block user_block %}
    <li role="presentation" class="dropdown-header">Действия</li>
    <li role="presentation"><a href="{{ path('admin_mfo_user_edit', {'id':1}) }}">Редактировать</a></li>
    <li role="presentation"><a href="{{ path('logout') }}">Выход</a></li>
{% endblock %}
