body {
    padding: 68px 0 10px 0;
    background: #efefef;
}

.navbar-inverse {
    background-color: #222;
    border-color: #337AB7;
    border-bottom-width: 8px;
}

.navbar-nav li span {
    position: relative;
    display: block;
    padding: 15px 15px 13px;
    color:#fff;
    border-bottom: 2px solid #337AB7;
    background: -moz-linear-gradient(top,  #20528C 0%, #337AB7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #20528C 0%,#337AB7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20528C 0%,#337AB7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20528C', endColorstr='#337AB7',GradientType=0 ); /* IE6-9 */

}

.navbar-inverse a.navbar-brand,
.navbar-inverse span.navbar-brand{
    color: #337AB7;
}

.navbar-inverse .navbar-nav li a{
    color:#bbb;
}

.navbar-inverse .navbar-nav li a:hover{
    background: #191818;
}

.navbar-inverse a:hover{
    text-decoration:none;
}

.navbar-inverse .navbar-nav li .active{
    background: #424242;
    color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #2B87D6;
}

.section-option{
    background: #fff;
    border:1px solid #E6E6E6;
    padding: 15px;
}

.app-label{
    font-size: 1em;
}

#orders {
    padding: 0 15px;
}

#orders .table {
    margin-bottom: 0;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.app-btn-group {
    display: block;
}

.column .cell{
    background: #fff;
    padding: 5px;
    border: 1px solid #e6e6e6;
}

.panel-footer {
    background-color: #fcfcfc;
}

#ajax-result {
    margin-top: 10px;
}