{% extends 'LandingPageBundle::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset(favicon_path) }}" />
{% endblock %}

{% block body %}
    <div id="remont">Сайт находится на техническом обслуживании.<br>Приносим свои извинения за доставленные неудобства.</div>
{% endblock %}

{% block javascripts %}{% endblock %}