<div class="ajax-modal modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialogLabel" aria-hidden="true">
    <div class="modal-dialog{{ size_class }}">
        <div class="modal-content">{{ content|raw }}</div>
    </div>
</div>